.businessCanvas {
  color: var(--color-title);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
}

@media (max-width: 840px) {
  .businessCanvas {
    font-size: 1.7rem;
  }
}

@media (max-width: 740px) {
  .businessCanvas {
    font-size: 1.6rem;
  }
}

@media (max-width: 640px) {
  .businessCanvas {
    font-size: 1.4rem;
  }
}
