.input {
  width: 72rem;
}

.label {
  color: var(--color-body-text);
  font-size: 1.6rem;
  font-weight: 600;
}

.inputFails {
  color: red;
  margin-top: -1.2rem;
  font-size: 1.6rem;
}

@media (max-width: 800px) {
  .input {
    width: calc(100vw - 8rem);
  }
  .label {
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {
  .input {
    width: 60rem;
  }
  .label {
    font-size: 1.45rem;
  }
}

@media (max-width: 640px) {
  .input {
    width: calc(100vw - 2.4rem);
  }
  .label {
    font-size: 1.4rem;
  }
}
