.container {
  display:  flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  max-width: 96rem;
}

.container h1 {
  color: var(--color-title);
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 6rem;
}

@media (max-width: 960px) {
  .container {
    width: 90%;
  }
  .container h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 840px) {
  .container {
    width: 92%;
  }
  .container h1 {
    font-size: 2.1rem;
  }
}

@media (max-width: 720px) {
  .container {
    width: 94%;
  }
  .container h1 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .container {
    width: 98%;
  }

  .container h1 {
    font-size: 1.8rem;
  }
}
