.container {
  width: 100%;
  margin: 4rem 0 8rem 0;
}

.container h1 {
  margin: 2rem 0 8rem 0;
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--color-title);
}

.businessCanvasContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.businessCanvasColumnsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 68rem;
  margin-bottom: 1.4rem;
}

.colum {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
}

.line {
  display: flex;
}
