.title {
  width: 50rem;
  color: var(--color-title);
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 5.4rem;
}

.main {
  min-height: calc(100vh - 16rem);
}


@media (max-width: 800px) {
  .title {
    width: 40rem;
    font-size: 3rem
  }
}

@media (max-width: 600px) {
  .title {
    width: 35rem;
    font-size: 2.6rem
  }
}

@media (max-width: 500px) {
  .title {
    width: 33rem;
    font-size: 2.4rem
  }
}

@media (max-width: 440px) {
  .title {
    width: 32rem;
    font-size: 2.2rem
  }
}

@media (max-width: 360px) {
  .title {
    width: 30rem;
    font-size: 2rem
  }
}
