@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #fff;
  --color-title: #141774;
  --color-button-background: #017CF6;
  --color-white: #fff;
  --color-body-text: #515267;
  --color-section-background: #E8F6FF;
  --color-dark-text: #151718;
  --color-highlighted-button: #45CCFE;
  --color-pink: #F670C7;
  --color-placeholder: #949EA5;
  --color-header-background: #E8F6FF;
  --color-footer-background: #E8F6FF;
  --color-business-canvas-card-background: rgb(237, 248, 255);
  --font-size-medium: 1.8rem;
  --font-weight-medium:  600;
}

html {
  font-size: 62.5%;
  background-color: var(--color-background);
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
  color: var(--color-body-text);
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.mainContainer {
  overflow-x: hidden;
  margin: auto;
  min-height: calc(100vh - 14rem);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 156rem;
  padding: 0 2rem;
}

@media (max-width: 700px) {
  body {
    font-size: 1.5rem;
  }
  .mainContainer {
    padding: 0 1.4rem;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 1.4rem;
  }

  .mainContainer {
    min-height: calc(100vh - 11rem);
    padding: 0 1.2rem;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 1.3rem;
  }
  .mainContainer {
    min-height: calc(100vh - 10rem);
    padding: 0 1rem;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 1.2rem;
  }
}
