.dropdownContainer {
  position: relative;
}

.dropdownOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.dropdownContent {
  display: flex;
  margin-top: 8rem;
  background: var(--color-header-background);
  padding: 2rem 4rem 2rem 4rem;
  border-radius: 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

